@charset "utf-8";
@import "scss/base";
@import "scss/components";
@import "scss/subjectview.scss";
// @import "scss/custom";
// @import "scss/articles";


.van-button--info{
  color: #fff;
  background-color: #C99700;
  border: 1px solid #C99700;
}