@charset "utf-8";

// @font-face{
//   font-family: BrutalType;
//   src: url('/rise/BrutalType.otf')
// }

// @font-face{
//   font-family: BrutalType-Medium;
//   src: url('/rise/BrutalType-Medium.otf')
// }
@mixin font-blod{
  font-family: BrutalType-Medium !important;
}

.style_text{@include font-blod;}

.fw500{font-weight: 500;}
.fw400{font-weight: 400;}
.svg{display: inline-block; background-size: 100% 100%;}
.svg_question{
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg clip-path='url(%23clip0_409_552)'%3E %3Cpath d='M6.06004 5.99992C6.21678 5.55436 6.52614 5.17866 6.93334 4.93934C7.34055 4.70002 7.8193 4.61254 8.28483 4.69239C8.75035 4.77224 9.17259 5.01427 9.47676 5.3756C9.78093 5.73694 9.94741 6.19427 9.94671 6.66659C9.94671 7.99992 7.94671 8.66659 7.94671 8.66659M8.00004 11.3333H8.00671M14.6667 7.99992C14.6667 11.6818 11.6819 14.6666 8.00004 14.6666C4.31814 14.6666 1.33337 11.6818 1.33337 7.99992C1.33337 4.31802 4.31814 1.33325 8.00004 1.33325C11.6819 1.33325 14.6667 4.31802 14.6667 7.99992Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/g%3E %3Cdefs%3E %3CclipPath id='clip0_409_552'%3E %3Crect width='16' height='16' fill='white'/%3E %3C/clipPath%3E %3C/defs%3E %3C/svg%3E ");
}
.svg_complete{
  width: 42px;
  height: 42px;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg opacity='0.6'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.2243 33.5128C35.1349 29.5229 37.5026 20.6863 33.5128 13.7757C29.5229 6.86509 20.6864 4.49734 13.7757 8.48719C6.86511 12.477 4.49736 21.3136 8.48721 28.2242C12.4771 35.1349 21.3136 37.5026 28.2243 33.5128ZM28.6865 34.3134C36.0394 30.0683 38.5586 20.6663 34.3135 13.3134C30.0683 5.96062 20.6663 3.44136 13.3135 7.68651C5.96064 11.9317 3.44138 21.3337 7.68653 28.6865C11.9317 36.0393 21.3337 38.5586 28.6865 34.3134Z' fill='%23C9A128'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.2527 28.3659C29.3207 26.0172 30.7145 20.8154 28.3659 16.7474C26.0172 12.6793 20.8154 11.2855 16.7473 13.6342C12.6793 15.9829 11.2855 21.1847 13.6341 25.2527C15.9828 29.3208 21.1846 30.7146 25.2527 28.3659ZM25.4838 28.7662C29.773 26.2899 31.2425 20.8054 28.7662 16.5162C26.2898 12.2271 20.8053 10.7575 16.5162 13.2338C12.227 15.7102 10.7575 21.1947 13.2338 25.4838C15.7102 29.773 21.1947 31.2426 25.4838 28.7662Z' fill='%23C9A128'/%3E %3Cpath d='M2.8197 24.1001L32.2203 7.12567L38.6257 18.2202L9.22515 35.1947L2.8197 24.1001Z' fill='%23FAF5E6'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.8819 8.38861L4.08265 24.4385L9.56355 33.9317L37.3628 17.8818L31.8819 8.38861ZM2.8197 24.1001L9.22515 35.1947L38.6257 18.2202L32.2203 7.12567L2.8197 24.1001Z' fill='%23C9A128'/%3E %3Cpath d='M14.0042 9.84763C14.001 9.70176 14.1602 9.60988 14.2849 9.68554L15.168 10.2211C15.2152 10.2497 15.2727 10.2557 15.3248 10.2376L16.3 9.89733C16.4377 9.84927 16.5743 9.97222 16.5409 10.1142L16.3044 11.1196C16.2918 11.1733 16.3038 11.2299 16.3372 11.2738L16.9621 12.0961C17.0504 12.2123 16.9757 12.3802 16.8303 12.3923L15.8011 12.4781C15.7461 12.4827 15.696 12.5116 15.6645 12.5569L15.0756 13.4054C14.9924 13.5252 14.8096 13.506 14.7532 13.3715L14.3535 12.4191C14.3322 12.3682 14.2892 12.3296 14.2364 12.3136L13.2475 12.0157C13.1078 11.9736 13.0695 11.7939 13.1801 11.6986L13.9623 11.0242C14.0041 10.9882 14.0276 10.9354 14.0264 10.8802L14.0042 9.84763Z' fill='%23C9A128'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0264 10.8802C14.0276 10.9354 14.0041 10.9882 13.9623 11.0242L13.1801 11.6986C13.0695 11.7939 13.1078 11.9736 13.2475 12.0157L14.2364 12.3136C14.2892 12.3296 14.3322 12.3682 14.3535 12.4191L14.7532 13.3715C14.8096 13.506 14.9924 13.5252 15.0756 13.4054L15.6645 12.5569C15.696 12.5116 15.7461 12.4827 15.8011 12.4781L16.8303 12.3923C16.9757 12.3802 17.0504 12.2123 16.9621 12.0961L16.3372 11.2738C16.3038 11.2299 16.2918 11.1733 16.3044 11.1196L16.5409 10.1142C16.5743 9.97222 16.4377 9.84927 16.3 9.89733L15.3248 10.2376C15.2727 10.2557 15.2152 10.2497 15.168 10.2211L14.2849 9.68554C14.1602 9.60988 14.001 9.70176 14.0042 9.84763L14.0264 10.8802ZM14.9257 11.1196C14.8934 11.2683 14.8309 11.4088 14.742 11.5323C14.8734 11.609 14.9877 11.7119 15.0777 11.8346C15.1912 11.7333 15.3244 11.6564 15.4689 11.6087C15.4077 11.4695 15.3757 11.319 15.375 11.1669C15.2236 11.1821 15.0706 11.166 14.9257 11.1196Z' fill='%23C9A128'/%3E %3Cpath d='M28.0652 32.6399C28.0683 32.7858 27.9092 32.8777 27.7844 32.802L26.9013 32.2665C26.8541 32.2378 26.7966 32.2318 26.7445 32.25L25.7694 32.5902C25.6316 32.6383 25.495 32.5153 25.5284 32.3733L25.7649 31.3679C25.7775 31.3142 25.7655 31.2576 25.7321 31.2137L25.1072 30.3914C25.0189 30.2753 25.0936 30.1074 25.239 30.0953L26.2683 30.0095C26.3233 30.0049 26.3733 29.976 26.4048 29.9306L26.9937 29.0822C27.0769 28.9623 27.2597 28.9815 27.3162 29.1161L27.7158 30.0684C27.7372 30.1193 27.7801 30.158 27.833 30.1739L28.8219 30.4718C28.9616 30.5139 28.9998 30.6937 28.8893 30.7889L28.1071 31.4633C28.0653 31.4994 28.0417 31.5522 28.0429 31.6074L28.0652 32.6399Z' fill='%23C9A128'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0429 31.6074C28.0417 31.5522 28.0653 31.4994 28.1071 31.4633L28.8893 30.7889C28.9998 30.6937 28.9616 30.5139 28.8219 30.4718L27.833 30.1739C27.7801 30.158 27.7372 30.1193 27.7158 30.0684L27.3162 29.1161C27.2597 28.9815 27.0769 28.9623 26.9937 29.0822L26.4048 29.9306C26.3733 29.976 26.3233 30.0049 26.2683 30.0095L25.239 30.0953C25.0936 30.1074 25.0189 30.2753 25.1072 30.3914L25.7321 31.2137C25.7655 31.2576 25.7775 31.3142 25.7649 31.3679L25.5284 32.3733C25.495 32.5153 25.6316 32.6383 25.7694 32.5902L26.7445 32.25C26.7966 32.2318 26.8541 32.2378 26.9013 32.2665L27.7844 32.802C27.9092 32.8777 28.0683 32.7858 28.0652 32.6399L28.0429 31.6074ZM27.1436 31.3679C27.1759 31.2192 27.2385 31.0787 27.3274 30.9552C27.1959 30.8786 27.0816 30.7756 26.9916 30.6529C26.8781 30.7542 26.7449 30.8312 26.6004 30.8788C26.6617 31.0181 26.6937 31.1685 26.6943 31.3207C26.8457 31.3055 26.9987 31.3215 27.1436 31.3679Z' fill='%23C9A128'/%3E %3Cpath d='M22.3234 7.93768C22.3622 7.79703 22.541 7.75464 22.6388 7.86289L23.3313 8.62917C23.3683 8.67012 23.4217 8.6924 23.4768 8.68992L24.5086 8.64359C24.6543 8.63704 24.7499 8.79398 24.6772 8.92047L24.1624 9.81584C24.1349 9.86368 24.1302 9.92131 24.1496 9.97298L24.5125 10.9399C24.5637 11.0765 24.444 11.2159 24.3012 11.1858L23.2906 10.9729C23.2366 10.9615 23.1803 10.9749 23.1372 11.0093L22.3297 11.6532C22.2156 11.7442 22.0461 11.6734 22.0306 11.5283L21.9207 10.5014C21.9149 10.4465 21.8848 10.3971 21.8387 10.3667L20.9768 9.79774C20.855 9.71737 20.87 9.53422 21.0031 9.47464L21.9459 9.05286C21.9963 9.03032 22.034 8.98646 22.0486 8.93327L22.3234 7.93768Z' fill='%23C9A128'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.0486 8.93327C22.034 8.98646 21.9963 9.03032 21.9459 9.05286L21.0031 9.47464C20.87 9.53422 20.855 9.71737 20.9768 9.79774L21.8387 10.3667C21.8848 10.3971 21.9149 10.4465 21.9207 10.5014L22.0306 11.5283C22.0461 11.6734 22.2156 11.7442 22.3297 11.6532L23.1372 11.0093C23.1803 10.9749 23.2366 10.9615 23.2906 10.9729L24.3012 11.1858C24.444 11.2159 24.5637 11.0765 24.5125 10.9399L24.1496 9.97298C24.1302 9.92131 24.1349 9.86368 24.1624 9.81584L24.6772 8.92047C24.7499 8.79398 24.6543 8.63704 24.5086 8.64359L23.4768 8.68992C23.4217 8.6924 23.3683 8.67012 23.3313 8.62917L22.6388 7.86289C22.541 7.75464 22.3622 7.79703 22.3234 7.93768L22.0486 8.93327ZM22.8415 9.42052C22.768 9.55369 22.6677 9.67038 22.5472 9.7632C22.6511 9.87432 22.7311 10.0057 22.7821 10.149C22.9199 10.0845 23.0696 10.0491 23.2217 10.0448C23.2029 9.89385 23.2154 9.74053 23.2584 9.59458C23.109 9.56577 22.9671 9.50649 22.8415 9.42052Z' fill='%23C9A128'/%3E %3Cpath d='M19.7458 34.5499C19.707 34.6905 19.5282 34.7329 19.4304 34.6247L18.7379 33.8584C18.7009 33.8174 18.6476 33.7952 18.5924 33.7976L17.5607 33.844C17.4149 33.8505 17.3193 33.6936 17.3921 33.5671L17.9068 32.6717C17.9344 32.6239 17.9391 32.5662 17.9197 32.5146L17.5568 31.5476C17.5055 31.411 17.6252 31.2716 17.768 31.3017L18.7786 31.5146C18.8326 31.526 18.8889 31.5127 18.932 31.4783L19.7395 30.8343C19.8536 30.7433 20.0231 30.8141 20.0387 30.9592L20.1485 31.9862C20.1543 32.041 20.1844 32.0904 20.2305 32.1208L21.0924 32.6898C21.2142 32.7702 21.1992 32.9533 21.0661 33.0129L20.1233 33.4347C20.0729 33.4572 20.0353 33.5011 20.0206 33.5543L19.7458 34.5499Z' fill='%23C9A128'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0206 33.5543C20.0353 33.5011 20.0729 33.4572 20.1233 33.4347L21.0661 33.0129C21.1992 32.9533 21.2142 32.7702 21.0924 32.6898L20.2305 32.1208C20.1844 32.0904 20.1543 32.041 20.1485 31.9862L20.0387 30.9592C20.0231 30.8141 19.8536 30.7433 19.7395 30.8343L18.932 31.4783C18.8889 31.5127 18.8326 31.526 18.7786 31.5146L17.768 31.3017C17.6252 31.2716 17.5055 31.411 17.5568 31.5476L17.9197 32.5146C17.9391 32.5662 17.9344 32.6239 17.9068 32.6717L17.3921 33.5671C17.3193 33.6936 17.4149 33.8505 17.5607 33.844L18.5924 33.7976C18.6476 33.7952 18.7009 33.8174 18.7379 33.8584L19.4304 34.6247C19.5282 34.7329 19.707 34.6905 19.7458 34.5499L20.0206 33.5543ZM19.2277 33.067C19.3012 32.9339 19.4015 32.8172 19.522 32.7244C19.4181 32.6132 19.3381 32.4818 19.2871 32.3385C19.1493 32.403 18.9996 32.4385 18.8475 32.4427C18.8663 32.5937 18.8538 32.747 18.8108 32.893C18.9602 32.9218 19.1022 32.9811 19.2277 33.067Z' fill='%23C9A128'/%3E %3Cpath d='M8.86688 15.7068C8.72567 15.6701 8.59956 15.8037 8.6444 15.9426L8.96178 16.9254C8.97874 16.9779 8.97136 17.0353 8.94165 17.0818L8.38564 17.9521C8.30709 18.0751 8.39522 18.2363 8.54113 18.2366L9.57394 18.2385C9.62912 18.2386 9.68138 18.2633 9.71643 18.3059L10.3724 19.1037C10.465 19.2164 10.6456 19.1824 10.691 19.0437L11.0119 18.062C11.029 18.0096 11.0687 17.9675 11.1201 17.9473L12.0815 17.57C12.2173 17.5167 12.2408 17.3345 12.1229 17.2485L11.2884 16.6399C11.2439 16.6074 11.2161 16.5567 11.2128 16.5016L11.151 15.4706C11.1423 15.325 10.9762 15.2463 10.8581 15.3319L10.0214 15.9375C9.9767 15.9698 9.91988 15.9805 9.86647 15.9666L8.86688 15.7068Z' fill='%23C9A128'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.86647 15.9666C9.91988 15.9805 9.9767 15.9698 10.0214 15.9375L10.8581 15.3319C10.9762 15.2463 11.1423 15.325 11.151 15.4706L11.2128 16.5016C11.2161 16.5567 11.2439 16.6074 11.2884 16.6399L12.1229 17.2485C12.2408 17.3345 12.2173 17.5167 12.0815 17.57L11.1201 17.9473C11.0687 17.9675 11.029 18.0096 11.0119 18.062L10.691 19.0437C10.6456 19.1824 10.465 19.2164 10.3724 19.1037L9.71643 18.3059C9.68138 18.2633 9.62912 18.2386 9.57394 18.2385L8.54113 18.2366C8.39522 18.2363 8.30709 18.0751 8.38564 17.9521L8.94165 17.0818C8.97136 17.0353 8.97874 16.9779 8.96178 16.9254L8.6444 15.9426C8.59956 15.8037 8.72567 15.6701 8.86688 15.7068L9.86647 15.9666ZM9.89199 16.8969C10.0441 16.8998 10.1953 16.8713 10.3359 16.8133C10.3802 16.9589 10.454 17.0939 10.5526 17.2097C10.4279 17.2968 10.3223 17.4087 10.2426 17.5383C10.1212 17.4466 9.98218 17.3807 9.8343 17.345C9.88404 17.2012 9.90369 17.0486 9.89199 16.8969Z' fill='%23C9A128'/%3E %3Cpath d='M33.2025 26.7806C33.3437 26.8173 33.4698 26.6837 33.4249 26.5449L33.1076 25.562C33.0906 25.5095 33.098 25.4522 33.1277 25.4057L33.6837 24.5353C33.7622 24.4123 33.6741 24.2511 33.5282 24.2508L32.4954 24.249C32.4402 24.2489 32.388 24.2241 32.3529 24.1815L31.697 23.3837C31.6043 23.271 31.4237 23.305 31.3784 23.4437L31.0574 24.4254C31.0403 24.4779 31.0006 24.5199 30.9492 24.5401L29.9878 24.9174C29.852 24.9707 29.8285 25.153 29.9464 25.2389L30.7809 25.8475C30.8255 25.88 30.8532 25.9308 30.8565 25.9858L30.9183 27.0168C30.927 27.1624 31.0931 27.2411 31.2113 27.1555L32.0479 26.55C32.0926 26.5176 32.1495 26.5069 32.2029 26.5208L33.2025 26.7806Z' fill='%23C9A128'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32.2029 26.5208C32.1495 26.5069 32.0926 26.5176 32.0479 26.55L31.2113 27.1555C31.0931 27.2411 30.927 27.1624 30.9183 27.0168L30.8565 25.9858C30.8532 25.9308 30.8255 25.88 30.7809 25.8475L29.9464 25.2389C29.8285 25.153 29.852 24.9707 29.9878 24.9174L30.9492 24.5401C31.0006 24.5199 31.0403 24.4779 31.0574 24.4254L31.3784 23.4437C31.4237 23.305 31.6043 23.271 31.697 23.3837L32.3529 24.1815C32.388 24.2241 32.4402 24.2489 32.4954 24.249L33.5282 24.2508C33.6741 24.2511 33.7622 24.4123 33.6837 24.5353L33.1277 25.4057C33.098 25.4522 33.0906 25.5095 33.1076 25.562L33.4249 26.5449C33.4698 26.6837 33.3437 26.8173 33.2025 26.7806L32.2029 26.5208ZM32.1773 25.5905C32.0252 25.5876 31.8741 25.6161 31.7334 25.6741C31.6891 25.5285 31.6153 25.3936 31.5167 25.2777C31.6415 25.1906 31.747 25.0787 31.8267 24.9491C31.9481 25.0409 32.0872 25.1067 32.235 25.1425C32.1853 25.2862 32.1657 25.4388 32.1773 25.5905Z' fill='%23C9A128'/%3E %3Cpath d='M15.4886 24.1111L13.6951 21.0046L7.94811 24.3226L8.26198 24.8662L13.442 21.8755L14.6123 23.9025L10.3021 26.391L9.63847 25.2416L9.0793 25.5645L11.4333 29.6417C11.801 30.2785 12.2999 30.4254 12.929 30.0622L17.1383 27.632C17.4555 27.4281 17.6625 27.1947 17.7391 26.933C17.809 26.6234 17.6092 25.9725 17.1308 24.9647L16.4886 25.1077C16.9352 25.9889 17.1212 26.5442 17.0466 26.7737C16.9839 26.9341 16.8555 27.0704 16.6691 27.178L12.7705 29.4289C12.4132 29.6351 12.1315 29.5596 11.9342 29.2179L10.6115 26.9269L15.4886 24.1111Z' fill='%23C9A128'/%3E %3Cpath d='M22.4257 16.5232L19.4512 18.2405C19.1787 17.9836 18.9208 17.7701 18.6763 17.5799L18.11 18.0518C18.3443 18.2064 18.5765 18.3934 18.8222 18.6036L15.8399 20.3254L16.8443 22.065L17.4112 21.7377L16.7207 20.5417L22.1726 17.3941L22.8631 18.5901L23.43 18.2628L22.4257 16.5232ZM17.7845 21.1287L18.0984 21.6724L22.4474 19.1614L22.1336 18.6178L17.7845 21.1287ZM17.4392 23.2748L17.7486 23.8107L19.8998 22.5687L19.9312 22.623C20.2577 23.2422 20.3771 23.8257 20.2816 24.3778C20.1507 24.9401 19.7263 25.5682 19.0054 26.2744L19.6107 26.5876C20.3416 25.8447 20.7778 25.1475 20.924 24.504C21.0433 23.8138 20.8987 23.0792 20.4826 22.3047L20.4512 22.2503L21.756 21.497L22.8859 23.4541C23.1818 23.9667 23.5672 24.0962 24.0487 23.8182L25.3612 23.0605C25.6253 22.908 25.7668 22.7227 25.8104 22.5112C25.8605 22.2752 25.6891 21.7632 25.3053 20.9907L24.6786 21.1247C24.9883 21.7329 25.1434 22.1093 25.1486 22.2617C25.1525 22.394 25.0907 22.5022 24.9509 22.5829L23.918 23.1792C23.6928 23.3093 23.5123 23.2478 23.3778 23.0148L22.3151 21.1742L24.513 19.9053L24.2036 19.3694L17.4392 23.2748Z' fill='%23C9A128'/%3E %3Cpath d='M28.3473 11.9652L28.1874 12.5132C28.7583 12.5874 29.2349 12.6954 29.6293 12.8405L28.177 13.679C27.9462 13.3151 27.7098 12.9236 27.4587 12.4886L26.884 12.8204C27.1261 13.2398 27.3626 13.6314 27.6023 14.0108L24.3948 15.8626L25.888 18.4487C26.5955 19.7281 26.9087 20.8623 26.8241 21.8638L27.471 21.9977C27.5614 20.8272 27.2264 19.5295 26.4549 18.1214L26.3204 17.8884L27.6639 17.1127C28.1416 17.976 28.4411 18.5486 28.547 18.8395C28.6259 19.0839 28.5845 19.2631 28.4181 19.3696C28.2084 19.4906 27.9476 19.6308 27.6358 19.7902L28.0981 20.1963C28.3556 20.0684 28.5898 19.9539 28.7762 19.8463C29.1555 19.6065 29.2976 19.2967 29.2058 18.9044C29.087 18.4656 28.6604 17.5832 27.9182 16.2618L26.0155 17.3603L25.2712 16.0711L27.935 14.5332C28.5576 15.4681 29.1371 16.2208 29.6846 16.7745C29.9628 17.0591 30.2431 17.3115 30.5178 17.536C30.372 18.5211 30.0078 19.4148 29.4329 20.2126L30.0126 20.4992C30.5543 19.7516 30.9176 18.9102 31.0936 17.9595C31.3491 18.133 31.6067 18.2742 31.8541 18.3799C32.4959 18.6306 32.9799 18.6618 33.306 18.4735C33.6555 18.2717 33.6192 17.599 33.2092 16.4585L32.543 16.4703C32.8883 17.3375 32.9895 17.8176 32.8541 17.906C32.6988 17.9957 32.3815 17.9304 31.91 17.7056C31.6826 17.5987 31.4406 17.4485 31.1884 17.2627C31.2819 16.2768 31.1835 15.1739 30.9023 13.9694L30.272 14.0434C30.511 15.0133 30.6218 15.9227 30.5922 16.7682C30.4392 16.6287 30.2817 16.4815 30.123 16.3142C29.6604 15.8358 29.12 15.133 28.5097 14.2014L30.9016 12.8204L30.5923 12.2845L29.6448 12.8315L29.7958 12.268C29.3658 12.1331 28.8815 12.0296 28.3473 11.9652Z' fill='%23C9A128'/%3E %3C/g%3E %3C/svg%3E ");
}
.svg_lock{
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M3.5 5.5V3.5C3.5 2.83696 3.76339 2.20107 4.23223 1.73223C4.70107 1.26339 5.33696 1 6 1C6.66304 1 7.29893 1.26339 7.76777 1.73223C8.23661 2.20107 8.5 2.83696 8.5 3.5V5.5M2.5 5.5H9.5C10.0523 5.5 10.5 5.94772 10.5 6.5V10C10.5 10.5523 10.0523 11 9.5 11H2.5C1.94772 11 1.5 10.5523 1.5 10V6.5C1.5 5.94772 1.94772 5.5 2.5 5.5Z' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
}
.svg_down{
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M6 9L12 15L18 9' stroke='%23DBCB9A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
}
.svg_up{
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M18 15L12 9L6 15' stroke='%23DBCB9A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
}
.svg_checked{
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Ccircle cx='9' cy='9' r='9' fill='%23DBCB9A'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.14463 12.8572C7.95912 12.8572 7.78115 12.7855 7.65347 12.6579L4.68082 9.68418C4.4275 9.43088 4.44216 9.0338 4.7134 8.79723C4.98423 8.56066 5.40983 8.57435 5.66315 8.82785L8.06074 11.2261L12.2717 5.41848C12.4796 5.13171 12.8974 5.05659 13.2049 5.25075C13.512 5.44492 13.5925 5.83515 13.3843 6.1223L8.70096 12.5816C8.58631 12.7396 8.4008 12.8404 8.19697 12.8553C8.17945 12.8566 8.16194 12.8572 8.14463 12.8572Z' fill='%23FAF5E6'/%3E %3C/svg%3E ");
}
.svg_warning{
  width: 14px; height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M6.99996 5.16669V7.50002M6.99996 9.83335H7.00579M12.8333 7.50002C12.8333 10.7217 10.2216 13.3334 6.99996 13.3334C3.7783 13.3334 1.16663 10.7217 1.16663 7.50002C1.16663 4.27836 3.7783 1.66669 6.99996 1.66669C10.2216 1.66669 12.8333 4.27836 12.8333 7.50002Z' stroke='%23C9A128' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
}
.svg_checked1{
  width: 18px; height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Ccircle cx='9' cy='9' r='8.75' fill='white' stroke='white' stroke-width='0.5'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.14463 12.8572C7.95912 12.8572 7.78115 12.7855 7.65347 12.6579L4.68082 9.68418C4.4275 9.43088 4.44216 9.0338 4.7134 8.79723C4.98423 8.56066 5.40983 8.57435 5.66315 8.82785L8.06074 11.2261L12.2717 5.41848C12.4796 5.13171 12.8974 5.05659 13.2049 5.25075C13.512 5.44492 13.5925 5.83515 13.3843 6.1223L8.70096 12.5816C8.58631 12.7396 8.4008 12.8404 8.19697 12.8553C8.17945 12.8566 8.16194 12.8572 8.14463 12.8572Z' fill='%23DBCB9A'/%3E %3C/svg%3E ");
}
.svg_1{
  width: 16px; height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg clip-path='url(%23clip0_469_922)'%3E %3Cpath d='M4.66665 14.6667H2.66665C2.31302 14.6667 1.97389 14.5262 1.72384 14.2762C1.47379 14.0261 1.33331 13.687 1.33331 13.3333V8.66668C1.33331 8.31306 1.47379 7.97392 1.72384 7.72387C1.97389 7.47382 2.31302 7.33334 2.66665 7.33334H4.66665M9.33331 6.00001V3.33334C9.33331 2.80291 9.1226 2.2942 8.74753 1.91913C8.37245 1.54406 7.86375 1.33334 7.33331 1.33334L4.66665 7.33334V14.6667H12.1866C12.5082 14.6703 12.8202 14.5576 13.0653 14.3493C13.3103 14.1411 13.4718 13.8513 13.52 13.5333L14.44 7.53334C14.469 7.34225 14.4561 7.14713 14.4022 6.96151C14.3483 6.77589 14.2547 6.60421 14.1279 6.45835C14.0011 6.3125 13.844 6.19596 13.6677 6.11682C13.4914 6.03768 13.2999 5.99782 13.1066 6.00001H9.33331Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/g%3E %3Cdefs%3E %3CclipPath id='clip0_469_922'%3E %3Crect width='16' height='16' fill='white'/%3E %3C/clipPath%3E %3C/defs%3E %3C/svg%3E ");
}
.svg_2{
  width: 18px; height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M6.1575 10.4175L5.25 17.25L9 15L12.75 17.25L11.8425 10.41M14.25 6C14.25 8.8995 11.8995 11.25 9 11.25C6.10051 11.25 3.75 8.8995 3.75 6C3.75 3.10051 6.10051 0.75 9 0.75C11.8995 0.75 14.25 3.10051 14.25 6Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
}
.svg_3{
  width: 16px; height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M7.99998 4.66667C7.99998 3.95942 7.71903 3.28115 7.21893 2.78105C6.71883 2.28095 6.04056 2 5.33331 2H1.33331V12H5.99998C6.53041 12 7.03912 12.2107 7.41419 12.5858C7.78927 12.9609 7.99998 13.4696 7.99998 14M7.99998 4.66667V14M7.99998 4.66667C7.99998 3.95942 8.28093 3.28115 8.78103 2.78105C9.28113 2.28095 9.9594 2 10.6666 2H14.6666V12H9.99998C9.46955 12 8.96084 12.2107 8.58577 12.5858C8.21069 12.9609 7.99998 13.4696 7.99998 14' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
}
.svg_4{
  width: 16px; height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg clip-path='url(%23clip0_409_974)'%3E %3Cpath d='M0.666687 8.00008C0.666687 8.00008 3.33335 2.66675 8.00002 2.66675C12.6667 2.66675 15.3334 8.00008 15.3334 8.00008C15.3334 8.00008 12.6667 13.3334 8.00002 13.3334C3.33335 13.3334 0.666687 8.00008 0.666687 8.00008Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3Cpath d='M8.00002 10C9.10458 10 10 9.10457 10 8C10 6.89543 9.10458 6 8.00002 6C6.89545 6 6.00002 6.89543 6.00002 8C6.00002 9.10457 6.89545 10 8.00002 10Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/g%3E %3Cdefs%3E %3CclipPath id='clip0_409_974'%3E %3Crect width='16' height='16' fill='white'/%3E %3C/clipPath%3E %3C/defs%3E %3C/svg%3E ");
}
.svg_5{
  width: 18px; height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M9.75 1.5L2.25 10.5H9L8.25 16.5L15.75 7.5H9L9.75 1.5Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
}
.svg_6{
  width: 14px; height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg clip-path='url(%23clip0_409_1037)'%3E %3Cpath d='M12.25 5.83331C12.25 9.91665 7 13.4166 7 13.4166C7 13.4166 1.75 9.91665 1.75 5.83331C1.75 4.44093 2.30312 3.10557 3.28769 2.121C4.27226 1.13644 5.60761 0.583313 7 0.583313C8.39239 0.583313 9.72774 1.13644 10.7123 2.121C11.6969 3.10557 12.25 4.44093 12.25 5.83331Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3Cpath d='M7 7.58331C7.9665 7.58331 8.75 6.79981 8.75 5.83331C8.75 4.86681 7.9665 4.08331 7 4.08331C6.0335 4.08331 5.25 4.86681 5.25 5.83331C5.25 6.79981 6.0335 7.58331 7 7.58331Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/g%3E %3Cdefs%3E %3CclipPath id='clip0_409_1037'%3E %3Crect width='14' height='14' fill='white'/%3E %3C/clipPath%3E %3C/defs%3E %3C/svg%3E ");
}
.svg_7{
  width: 14px; height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M9.625 5.48332L4.375 2.45582M1.9075 4.05998L7 7.00582L12.0925 4.05998M7 12.88V6.99998M12.25 9.33332V4.66665C12.2498 4.46206 12.1958 4.26112 12.0934 4.084C11.991 3.90687 11.8438 3.75978 11.6667 3.65748L7.58333 1.32415C7.40598 1.22175 7.20479 1.16785 7 1.16785C6.79521 1.16785 6.59402 1.22175 6.41667 1.32415L2.33333 3.65748C2.15615 3.75978 2.00899 3.90687 1.9066 4.084C1.80422 4.26112 1.75021 4.46206 1.75 4.66665V9.33332C1.75021 9.53791 1.80422 9.73884 1.9066 9.91597C2.00899 10.0931 2.15615 10.2402 2.33333 10.3425L6.41667 12.6758C6.59402 12.7782 6.79521 12.8321 7 12.8321C7.20479 12.8321 7.40598 12.7782 7.58333 12.6758L11.6667 10.3425C11.8438 10.2402 11.991 10.0931 12.0934 9.91597C12.1958 9.73884 12.2498 9.53791 12.25 9.33332Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
}
.svg_reset{
  width: 12px; height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg clip-path='url(%23clip0_442_4864)'%3E %3Cpath d='M11 6C11 8.76142 8.76142 11 6 11C4.36418 11 2.91184 10.2144 1.99963 9C1.76849 8.69227 1.57202 8.357 1.41604 8H4M1 6C1 3.23858 3.23858 1 6 1C7.6356 1 9.08777 1.78534 10 2.99951C10.2313 3.30738 10.4279 3.64281 10.584 4H8' stroke='white' stroke-width='0.8' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/g%3E %3Cdefs%3E %3CclipPath id='clip0_442_4864'%3E %3Crect width='12' height='12' fill='white'/%3E %3C/clipPath%3E %3C/defs%3E %3C/svg%3E ");
}
.svg_wechat{
  width: 26px; height: 26px;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M23 15.2946C23 12.4419 20.125 10.2093 17 10.2093C13.625 10.2093 11 12.4419 11 15.2946C11 18.1473 13.625 20.3798 17 20.3798C17.75 20.3798 18.375 20.2558 19.125 20.0078L21.125 21L20.5 19.3876C22 18.2713 23 16.907 23 15.2946ZM15 14.4264C14.625 14.4264 14.25 14.0543 14.25 13.6822C14.25 13.3101 14.625 12.938 15 12.938C15.5 12.938 15.875 13.3101 15.875 13.6822C15.875 14.0543 15.625 14.4264 15 14.4264ZM18.875 14.4264C18.5 14.4264 18.125 14.0543 18.125 13.6822C18.125 13.3101 18.5 12.938 18.875 12.938C19.375 12.938 19.75 13.3101 19.75 13.6822C19.875 14.0543 19.5 14.4264 18.875 14.4264Z' fill='white'/%3E %3Cpath d='M10.125 5C6.25 5 3 7.60465 3 10.9535C3 12.938 4 14.4264 5.875 15.6667L5.125 17.7752L7.625 16.5349C8.5 16.6589 9.25 16.907 10.125 16.907C10.375 16.907 10.625 16.907 10.75 16.907C10.625 16.4109 10.5 15.9147 10.5 15.4186C10.5 12.3178 13.125 9.83721 16.5 9.83721C16.75 9.83721 17 9.83721 17.125 9.83721C16.625 7.10853 13.5 5 10.125 5ZM7.75 9.71318C7.25 9.71318 6.75 9.34108 6.75 8.84496C6.75 8.34884 7.25 7.97674 7.875 7.97674C8.5 7.97674 8.75 8.34884 8.75 8.84496C8.625 9.34108 8.25 9.71318 7.75 9.71318ZM12.75 9.71318C12.25 9.71318 11.625 9.34108 11.625 8.84496C11.625 8.34884 12.125 7.97674 12.75 7.97674C13.25 7.97674 13.625 8.34884 13.625 8.84496C13.625 9.34108 13.25 9.71318 12.75 9.71318Z' fill='white'/%3E %3C/svg%3E ");
}

.find_home{
  .banner{
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    height: 350px;
    position: relative;
    color: #fff;
    padding: 0 9px;
    background-size: 100% 100% !important;
    .question_tip{
      display: flex;
      align-items: center;
      padding: 5px 10px;
      background: rgba(0, 0, 0, 0.52);
      border-radius: 54px 0 0 54px;
      position: absolute;
      top: 9px;
      right: 0;
    }
    .count_time{
      width: 357px;
      padding: 14px 8px 23px;
      background: rgba($color: #FAF5E6, $alpha: 0.2);
      h3{font-size: 16px; line-height: 22.4px; font-weight: 500; margin-bottom: 13px;}
      h4{font-size: 14px; line-height: 20px; font-weight: 400; margin-top: 10px; margin-bottom: 24px;}

    }
    .time_item{
      display: flex;
      justify-content: space-between;
      li{
        flex: 1; height: 80px; margin: 0 8px; padding-top: 11px; background-color: #FAF5E6; border-radius: 8px; color: #C99700; box-sizing: border-box;
        p{ font-size: 32px; line-height: 39.5px; font-weight: 400;}
      }
    }
    .btn_list{
      display: flex;
      span, a{
        flex: 1;
        color: #C99700;
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        height: 32px;
        background: #FAF5E6;
        border-radius: 2px;
        margin: 0 3.5px;
      }
    }
  }
  .user_card{
    position: relative;
    background-color: #FAF5E6;
    padding: 22px 15px;
    margin: 50px 9px 20px;
    h3{display: flex; align-items: center; font-size: 20px; line-height: 28px;}
    .user_name{display: inline-block; max-width: 130px; color: #333;}
    .hot{display: block; font-size: 16px; line-height: 22px; color: #C99700; font-weight: 500; margin-top: 10px; margin-bottom: 12px;}
    p{font-size: 14px; line-height: 20px;}
    .user_pic{
      width: 82px;
      height: 82px;
      border: 2px solid #fff;
      border-radius: 50%;
      position: absolute;
      top: -36px;
      right: 15px;
    }
  }
  .brown_content{  background-color: #FFFFFF; }
  .cards_top{margin-top: 18px;}
  .tab_list{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 22.4px;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
    li{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      line-height: 48px;
      text-align: center;
    }
    .svg_lock{
      width: 18px !important;
      height: 18px !important;
      background-color: #F9F8F8;
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      margin-left: 5px;
    }
    .active{
      color: #C99700;
      border-bottom: 2px solid #C99700;
      margin-bottom: -1px;
    }
  }
  .button{width: 100%; height: 48px; line-height: 48px; background: #C99700; border-radius: 2px; color: #fff; font-size: 16px;
    &::before{background: none; border: none;}
  }
  .tab_content{
    .user_auto{
      width: 345px;
      margin: 18px 0 0;
      overflow-x: auto;
      .user_list{
        width: 780px;
        padding-bottom: 26px;
        overflow: hidden;
        // overflow-x: auto;
        .user_na{color: #333; font-size: 12px; margin-bottom: 9px;}
        li{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 64px;
          float: left;
          margin-right: 18px;
          &:last-child{ margin-right: 0; }
          img{width: 62px; height: 62px; border-radius: 50%; border: 1px solid #e5e5e5; margin-bottom: 6px;}
        }
      }
      .user_btn{
        width: 56px;
        text-align: center;
        display: inline-block;
        color: #fff;
        padding: 0 6px;
        font-weight: 400;
        font-size: 12px;
        height: 21px;
        line-height: 21px;
        background: #C99700;
        border-radius: 35px;
        box-sizing: border-box;
      }
      .active{ background: rgba(0, 0, 0, 0.6); }
    }
    .news_list{
      margin-top: 12px;
      padding-bottom: 24px;
      .href{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding: 6px 0;
        border-top: 1px dashed #ccc;
        &:last-child{border-bottom: 1px dashed #ccc;}
        span{ color: #333; width: 245px;  &::before{ content: '·'; font-size: 16px; margin-right: 3px; }}
      }
    }
    .works_auto{
      width: 345px;
      margin: 18px 0 0;
      overflow-x: auto;
      .works_list{
        width: 770px;
        padding-bottom: 26px;
        overflow: hidden;
        li{
          width: 104px;
          float: left;
          margin-right: 16px;
          position: relative;
          .svg_checked{ position: absolute; top: 5px; right: 5px;  }
          a{color: #333;}
          p{margin-top: 6px;}
          &:last-child{ margin-right: 0; }
          img{width: 104px; height: 104px; border-radius: 2px;}
        }
      }
    }

  }
  .step_content{
    padding: 33px 15px 32px 13px;
    .share_btns{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      line-height: 48px;
      background: #DBCB9A;
      margin: 24px -24px 0;
      text-align: center;
      color: #fff;
      font-size: 16px;
    }
  }
  .pk_content{
    padding: 24px 24px 45px;
    font-size: 14px; color: #666;
    .pk_title{
      font-size: 16px;
      line-height: 22px; color: #333; text-align: center; margin: 16px 0;
    }
    .rule_tips{ color: #C99700; text-align: center; font-size: 14px; margin-top: 10px;
      line-height: 20px; padding: 3px 6px; background: #F7F4F1;}
    .check_works{
      display: flex;
      justify-content: space-between;
      &>div{margin-right: 15px; &:last-child{margin-right: 0;}}
      .pk_pic{width: 156px; height: 156px; border-radius: 2px; overflow: hidden;}
      .pic_box{
        position: relative;
        .new_icon{
          display: flex; align-items: center;
          color: #fff; background: rgba(0, 0, 0, 0.3); font-size: 12px;
          border-radius: 2px; padding: 2px 5px;
          position: absolute;
          top: 8px;
          left: 8px;
          .svg_reset{margin-right: 3px;}
        }
      }
      .div{color: #666 !important; p{color: #666;} span{color: #999;}}
      .works_name{ height: 35px; font-size: 14px;line-height: 18px; color: #666;}
      .button_text{ text-align: center; margin-top: 25px; color: #999; span{font-size: 12px;} .button{margin-top: 8px;}}
    }
    .num_ol{
      // list-style: auto !important;  padding: 0 16px; 
      li{padding: 4px 0; display: flex; i{font-style: normal; margin-right: 5px;}} a{color: #C99700; text-decoration:underline;}
    }
    .pk_title1{margin: 40px 0 8px !important;}
    
  }
  .find_title{
    font-size: 20px;
    line-height: 28px;
    color: #333;
  }
  .hot_ranking{
    border-top: 8px solid #FF4D5A;
    .hot_top{
      height: 64px;
      line-height: 64px;
      padding: 0 24px;
      display: flex; justify-content: space-between; align-items: center;
      span{font-size: 12px; color: #999;}
    }
    .ranking_content{
      font-size: 16px;
      color: #666;
      font-weight: 500;
      .list_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        height: 48px;
        line-height: 48px;
        background: #F9F8F8;
        span{width: 50px; display: flex; justify-content: center; text-align: center;}
      }
      .ranking_list{
        .ranking_num, .name_pic, .score_num{display: flex; justify-content: center; text-align: center;}
        .ranking_num{width: 50px; font-size: 18px;}
        .score_num{width: 50px;}
        .name_pic{flex: 1; }
        .num_1{ background-color: #C9A128; border-bottom: none; .ranking_num{color: #333;}}
        .num_2{ background-color: #DBCB9A; border-bottom: none; .ranking_num{color: #333;}}
        .num_3{ background-color: #FAF5E6; border-bottom: none; .ranking_num{color: #333;}}
      } 
    }

    .ranking_item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      border-bottom: 0.5px solid #e5e5e5;
      .ranking_num, .score_num{width: 50px; font-size: 18px;text-align: center;}
      .name_pic{flex: 4; display: flex; justify-content: center; align-items: center; color: #333;}
      .name_group{width: 160px; display: flex; justify-content: flex-start; align-items: center; text-align: left;}
      .user_names{flex: 1;}
      .user_pic{width: 30px; height: 30px; border: 1px solid #e5e5e5; border-radius: 50%; margin-right: 8px;}
    }
    .self_show{
      .color_mc{color: #C99700;}
      .self_top{
        background-color: #F9F8F8;
        padding: 14px 24px 18px;
        .self_title{
          display: flex; justify-content: space-between; align-items: center; margin-bottom:10px;
          h4{font-size: 16px; color: #333;}
          span{color: #C9A128; height: 26px; line-height: 26px; background: rgba(219, 203, 154, 0.33);
            border-radius: 2px; padding: 0 4px; font-size: 12px; font-weight: 400; display: flex; align-items: center;}
        }
        &>p{font-size: 14px; line-height: 22px; font-weight: 400;}
      }
    }
  }
  .reward_content{
    border-top: 8px solid #FF4D5A;
    padding: 18px 24px 32px;
    .reward_desc{font-size: 14px; color: #666; margin-top: 6px; margin-bottom: 12px;}
  }
}

.popup_cintent{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  width: 327px;
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
  .wecode{width: 200px; height: 200px; border-radius: 4px;}
  span{font-size: 14px; line-height: 20px; color: #666; margin-top: 14px;}
  h3{font-size: 24px; line-height: 34px; color: #333; margin-top: 24px;}
  p{font-size: 16px; line-height: 24px; color: #999997; margin-top: 8px;}
  .button{margin-top: 24px;}
}
.van-popup{border-radius: 4px;}